---
import { WORK_EXPERIENCE } from "../../data/Experience";
import { Calendar } from "../icons";
---

<section class="mt-12 w-full">
    <h2 class="text-3xl font-medium text-center sm:text-left">
      Experiencia laboral
    </h2>
    <ul class="flex flex-col w-full">
      {
        WORK_EXPERIENCE.map((work) => (
          <article class="flex flex-col justify-between mt-4">
            <header class="flex flex-col sm:flex-row justify-between">
              <div class="flex text-xl items-center mr-auto">
                <h3 class="text-xl font-medium">{work.company}</h3>
                <p class="text-neutral-100 text-xs px-2 rounded-md py-0.5 ml-2 bg-green-600">
                  {work.location}
                </p>
              </div>
              <div class="text-neutral-600">
                <time class="flex flex-row items-center gap-2">
                  <Calendar />
                  <span>
                    {work.startDate} - {work.endDate}
                  </span>
                </time>
              </div>
            </header>
            <div class="mt-1">
              <h4 class="text-md font-medium text-green-700">{work.position}</h4>
              <p class="text-sm text-neutral-700">{work.description}</p>
            </div>
          </article>
        ))
      }
    </ul>
  </section>