---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Profile from "../assets/profile.jpg";
import Web from "../components/icons/Web.astro";
import cv from "../data/cv.json";
import { Github, Linkedin, Mail } from "../components/icons";

const socialMedia = [
  {
    network: "LinkedIn",
    url: "https://www.linkedin.com/in/armando-diaz-291385251/",
    icon: Linkedin,
  },
  {
    network: "GitHub",
    url: "https://github.com/adiazt01",
    icon: Github,
  },
  {
    network: "Mail",
    url: "mailto:armandodt2004@gmail.com",
    icon: Mail,
  },
];
---

<Layout title="Portfolio - Armando Diaz">
  <main
    class="flex items-center justify-center w-full flex-col max-w-screen-lg mx-auto px-12 py-8"
  >
    <header
      class="flex gap-4 sm:flex-row items-center sm:items-start flex-col-reverse w-full justify-between"
    >
      <article class="sm:mt-0 text-center md:text-left mt-4 max-w-md">
        <h1 class="text-4xl">
          {cv.basics.name}
        </h1>
        <p class="text-xl mt-2 leading-6 text-neutral-700 font-medium">
          {cv.basics.summary}
        </p>
        <div
          class="flex flex-col items-center gap-4 justify-center sm:justify-start mt-4"
        >
          <p class="text-lg text-neutral-600">
            <span class="flex flex-row items-center gap-2">
              <Web />
              <span>
                {cv.basics.location.city}, {cv.basics.location.country}</span
              >
            </span>
          </p>
          <ul class="flex flex-row gap-2">
            {
              socialMedia.map((social) => (
                <li
                  class="flex items
                -center gap-2"
                >
                  <a
                    href={social.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="flex items-center gap-2"
                  >
                    <social.icon />
                    <span>{social.network}</span>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <footer></footer>
      </article>
      <picture
        class="relative sm:ml-auto sm:mx-0 mx-auto w-44 h-44 rounded-md shadow overflow-hidden"
      >
        <Image
          src={Profile}
          alt="Astro Logo"
          class="absolute object-cover top-0 left-0 w-full h-full"
        />
      </picture>
    </header>
  </main>
</Layout>

<style></style>
