---
import Layout from "../layouts/Layout.astro";
import PROJECTS from "../data/projects.json";
import { Github, Linkedin, Mail, Calendar, Link } from "../components/icons";
import Hero from "../components/sections/Hero.astro";

const socialMedia = [
  {
    network: "LinkedIn",
    url: "https://www.linkedin.com/in/armando-diaz-291385251/",
    icon: Linkedin,
  },
  {
    network: "GitHub",
    url: "https://github.com/adiazt01",
    icon: Github,
  },
  {
    network: "Mail",
    url: "mailto:armandodt2004@gmail.com",
    icon: Mail,
  },
];

const WORK_EXPERIENCE = [
  {
    company: "Silvera Enterprises",
    location: "Remoto",
    startDate: "01/2024",
    endDate: "03/2024",
    companyUrl: "https://striveenterprise.com/es/",
    position: "Desarrollador Front end",
    description:
      "Participando en el proyecto que permitio la creacion de una landing page usando WordPress, Costum Fields y ACF. Utilizando HTML, CSS, JavaScript y PHP para el desarrollo.",
  },
];

const CERTIFICATES = [
  {
    company: "FreeCodeCamp",
    name: "Responsive Web Design",
    url: "https://www.freecodecamp.org/certification/adiazt01/responsive-web-design",
  },
];
---

<Layout title="Portfolio - Armando Diaz">
  <main
    class="flex items-center justify-center w-full flex-col max-w-screen-md mx-auto px-4 sm:px-12 py-8"
  >
    <Hero />
    <section class="mt-12 w-full">
      <h2 class="text-3xl font-medium text-center sm:text-left">Sobre mi</h2>
      <p class="text-lg text-neutral-600 leading-7">
        Como desarrollador de Full Stack, he creado un producto y multiples
        proyectos de software que aportan valor a los usuarios. Trabajo desde
        hace año con tecnologias tales como JavaScript, TypeScript, React,
        Next.js ,Node.js, MongoDB, PostgreSQL, entre otras. Me gusta aprender y
        experimentar con nuevas tecnologias y metodologias de desarrollo.
      </p>
    </section>
    <section class="mt-12 w-full">
      <h2 class="text-3xl font-medium text-center sm:text-left">
        Experiencia laboral
      </h2>
      <ul class="flex flex-col w-full">
        {
          WORK_EXPERIENCE.map((work) => (
            <article class="mt-4">
              <header class="flex flex-col sm:flex-row justify-between">
                <div class="flex text-xl items-center mr-auto">
                  <h3 class="text-xl font-medium">{work.company}</h3>
                  <p class="text-neutral-100 text-xs px-2 rounded-md py-0.5 ml-2 bg-neutral-500/50">
                    {work.location}
                  </p>
                </div>
                <div class="text-neutral-600">
                  <time class="flex flex-row items-center gap-2">
                    <Calendar />
                    <span>
                      {work.startDate} - {work.endDate}
                    </span>
                  </time>
                </div>
              </header>
              <div class="mt-2">
                <h4 class="text-md text-neutral-600">{work.position}</h4>
                <p>{work.description}</p>
              </div>
            </article>
          ))
        }
      </ul>
    </section>
    <section class="mt-12 w-full">
      <h2 class="text-3xl font-medium text-center sm:text-left">Proyectos</h2>
      <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
        {
          PROJECTS.map((project) => (
            <article class="flex border p-3 rounded bg-white flex-col overflow-hidden gap-1">
              <header class="flex flex-row justify-between">
                <h3 class="text-md font-medium">
                  {project.name}
                  <div class="w-2 ml-1.5 mb-0.5 animate-pulse h-2 rounded-full inline-block bg-green-500" />
                </h3>
              </header>
              <p class="text-neutral-600 text-sm">{project.description}</p>
              <ul class="flex mt-1 flex-row flex-wrap gap-2">
                {project.techStack.map((tech) => (
                  <li class="flex items-center gap-1 px-2.5 py-0.5 bg-neutral-800/60 text-xs rounded-2xl text-neutral-100">
                    {tech}
                  </li>
                ))}
              </ul>
              <div class="flex justify-end gap-2">
                <a
                  href={`projects/${project.id}`}
                  class="flex items-center gap-2 text-neutral-600 mt-2 hover:text-neutral-500"
                >
                  <span>Mas informacion</span>
                  <Link />
                </a>
              </div>
            </article>
          ))
        }
      </ul>
    </section>
    <section class="mt-12 w-full">
      <h2 class="text-3xl font-medium text-center sm:text-left">
        Certificados
      </h2>
      <ol class="relative border-s border-gray-200">
        <li class="mb-10 ms-4">
          <div
            class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"
          >
          </div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400"
            >February 2022</time
          >
          <h3 class="text-lg font-semibold text-gray-900"></h3>
          <p class="mb-4 text-base font-normal text-gray-500">
            Learn how to build a responsive web application using Tailwind CSS
            and JavaScript
          </p>
          <a href="#" class="text-base font-semibold text-green-600">
            Ver certificado
          </a>
        </li>
      </ol>
    </section>
  </main>
</Layout>
